/* ESTILOS GERAIS */
* {
  box-sizing: border-box;
}

/* COR DE FUNDO E FONTE */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f0ea;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  background-color:  #f4f0ea;}

/* CARDAPIO DOS HAMBURGUERS */
.cardapio {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}
.cardapio h2 {
  font-size: 1.8rem;
  margin: 10px;
}

/* CARDS */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.card {
  width: calc(33.33% - 11px);
  background: #f4f0ea;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%; 
  height: 300px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-info {
  padding: 12px;
}

.card-info .categoria {
  font-size: 0.8rem;
  color: solid black;
}

.card-info h3 {
  font-size: 1.5rem;
  margin: 8px 0;
  color:solid black;
}

.card-info a {
  text-decoration: none;
  color: solid black;
  font-weight: bold;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 3px solid black;
}
/* RESPONSIVIDADE */
@media (max-width: 900px) {
  .card {
    width: calc(30% - 15px);
  }
}

@media (max-width: 600px) {

  .hero-menu ul {
    flex-direction: column;
    gap: 15px;
  }

  .cards-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

/* POP-UP MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: #f4f0ea;
  margin: 5% auto;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-imagem {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modal-content h2 {
  font-size: 1.8rem;
  margin: 15px 0 10px 0;
  color: #333;
}

.modal-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000;
}



